<%- include('partials/header') %>

<div class="container">
    <h1 class="success-message" >Successfully logged in!</h1>
    <div class="main-box">
        <div class="login-box">
            <img class="success-image" src="images/success_image.svg">
            <a class="btn btn-secondary login-button" href="/logout" role="button">Log Out</a>
        </div>

    </div>
</div>

<%- include('partials/footer') %>